<nav class="nav-bar">
  <ul class="menu">
  <!--  <img src="../static/img/logo.png" alt="logo"/> -->
    <li><a href="index">Práctica 3</a></li>
    <li><a href="">Ejercicio 1</a>
      <ul>
        <li><a href="../ordenaEjercicio">Matrices</a></li>
        <li><a href="../cribaEjercicio">Criba</a></li>
        <li><a href="../fibonacciEjercicio">Fibonacci</a></li>
        <li><a href="../balanceoEjercicio">Balanceo</a></li>
        <li><a href="../fraseEjercicio">Expresiones de frase</a></li>
        <li><a href="../correoEjercicio">Expresiones de correo</a></li>
        <li><a href="../tarjetaEjercicio">Expresiones de tarjeta</a></li>
      </ul>
    </li>
    {% block navegacion %}{% endblock %}

  </ul>
</nav>


<aside>
  <h2>ÚLTIMAS PÁGINAS VISITADAS</h2>
</aside>


<footer class="navbar">
  <ul>
    <li><a href="https://github.com/biilal1999/DAI">Repositorio de DAI en GitHub</a></li>
  </ul>
</footer>


<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>


<li class="nav-item active">
  <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="#">Registrarse</a>
</li>


{% block navegacion %}{% endblock %}



<form class="form-inline" action="../login" method="post">
 <div class="form-group mx-sm-3">
     <label for="inputUser" class="sr-only">User</label>
     <input type="password" class="form-control" id="inputUser" placeholder="user" name="usuario">
 </div>
 <div class="form-group mx-sm-3">
     <label for="inputPass" class="sr-only">Password</label>
     <input type="password" class="form-control" id="inputPass" placeholder="pass" name="pass">
 </div>
 <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<h2>{{ tag }}</h2>
