{% extends "base.html" %}

{% block titulo %}
  {{ titulo | safe}}
{% endblock %}


{% block cuerpo %}
  <div class="container">
  {% if formulario == 'si' %}
    <div class="row">
      <h2>{{ mensaje }}</h2>
      <form action='{{ ruta }}' class="form-inline" method="get">
          <div class="form-group mx-sm-3">
            <label class="sr-only"></label>
            <input type="text" class="form-control" id="caja" name="datos"/>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    {% if tag=="res" %}
      <h3>{{ cadena | safe }}</h3>

    {% endif %}
    </div>

  {% else %}
  <div class="row" id="enunciado">
    <h1 class="mt-5" id="tit">{{ titulo }}</h1>
  </div>

  <div class="row" id="resultado">
    <h2 class="res">{{ cadena | safe}} </h2>
  </div>

  {% endif %}
  </div>
{% endblock %}

{% block primerlink %}
  <a href='{{ paginas[2] }}'>{{ paginas[2] }}</a>
{% endblock %}

{% block segundolink %}
  <a href='{{ paginas[1] }}'>{{ paginas[1] }}</a>
{% endblock %}

{% block tercerlink %}
  <a href='{{ paginas[0] }}'>{{ paginas[0] }}</a>
{% endblock %}
