{% extends "base.html" %}

{% block titulo %}
Index
{% endblock %}

{% block cuerpo %}
{% if 'usuario' not in session %}
    <h1 class="mt-5">Bienvenido a la Práctica 3 de DAI</h1>
    <h2>Inicie sesión si así lo desea</h2>
{% else %}
    <h1 class="mt-5">Bienvenido {{ session['usuario'] }}</h1>
{% endif %}
{% endblock %}


{% block primerlink %}
  <a href='{{ paginas[2] }}'>{{ paginas[2] }}</a>
{% endblock %}

{% block segundolink %}
  <a href='{{ paginas[1] }}'>{{ paginas[1] }}</a>
{% endblock %}

{% block tercerlink %}
  <a href='{{ paginas[0] }}'>{{ paginas[0] }}</a>
{% endblock %}
