{% extends "base.html" %}

{% block titulo %}
Peliculas
{% endblock %}


{% block cuerpo %}
  <div class="container">
    <h1>Mongo</h1>

    <div class="row">
      <h2>Haga su consulta sobre Pokémons</h2>
      <form action='../mongo' class="form-signin" method="post">
        <div class="row">
            <div class="form-group mx-sm-3">
              <label class="sr-only">Consulte por nombre del Pokemon</label>
              <input type="text" class="form-control" id="caja" name="nombre" placeholder="Nombre del Pokémon por subcadena"/>
            </div>
          </div>

          <div class="row">
              <div class="form-group mx-sm-3">
                <label class="sr-only">Consulte por nombre del Pokemon</label>
                <input type="number" class="form-control" id="caja" name="id" placeholder="id del pokemon"/>
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    {% if tag == "res" %}

    <div class="row">
        <ul class="list-group">
              {% for p in lista %}
                <li id="lista" class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item">{{ p.name }}</li>
                    <li class="list-group-item">{{ p.id }}</li>

                    <form method="post">
                      <button type="submit" class="btn btn-primary" name="accion" value="modificar">Modificar</button>
                      <button type="submit" class="btn btn-primary" name="accion" value="borrar">Borrar</button>
                      <input type="hidden" name="identificador" value='{{ p.id }}'</input>
                    </form>

                  </ul>
                </li>
              {% endfor %}
        </ul>
    </div>

    {% endif %}
  </div>
{% endblock %}



{% block primerlink %}
  <a href='{{ paginas[2] }}'>{{ paginas[2] }}</a>
{% endblock %}

{% block segundolink %}
  <a href='{{ paginas[1] }}'>{{ paginas[1] }}</a>
{% endblock %}

{% block tercerlink %}
  <a href='{{ paginas[0] }}'>{{ paginas[0] }}</a>
{% endblock %}
