{% extends "base.html" %}

{% block titulo %}
Pokémons
{% endblock %}


{% block cuerpo %}
  <div class="container">
    <h1>Mongo</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="row" id="abajo">
            <h2 class=flashes>{{ message }}</h2>
          </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

    {% if tag != "mod" %}
    <div class="row">
      <div class="col-sm">
        <h2>Haga su consulta sobre Pokémons</h2>
        <form action='../mongo' class="form-signin" method="post">
          <div class="row">
              <div class="form-group mx-sm-3">
                <p>Consulte por nombre del Pokemon</p>
                <label class="sr-only">Consulte por nombre del Pokemon</label>
                <input type="text" class="form-control" id="caja" name="nombre"/>
              </div>
            </div>

            <div class="row">
                <div class="form-group mx-sm-3">
                  <p>Consulte por identificador del Pokemon</p>
                  <label class="sr-only">Consulte por id del Pokemon</label>
                  <input type="number" class="form-control" id="caja" name="id"/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>


      <div class="col-sm" id="cr">
        <h2>Inserte un nuevo Pokemon</h2>
        <form action='../mongo' class="form-signin" method="post">
          <div class="row">
              <div class="form-group mx-sm-3">
                <p>Consulte por nombre del Pokemon</p>
                <label class="sr-only">Cree un nuevo Pokemon</label>
                <input type="text" class="form-control" id="caja" name="pok" />
              </div>
          </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>

    {% endif %}

    {% if tag == "res" %}

    <div class="row">
        <ul class="list-group">
              {% for p in lista %}
                <li id="lista" class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item">{{ p.name }}</li>
                    <li class="list-group-item">{{ p.id }}</li>

                    <form action='../acciones' method="post">
                      <button type="submit" class="btn btn-warning" name="accion" value="editar">Editar</button>
                      <button type="submit" class="btn btn-danger" name="accion" value="borrar">Borrar</button>
                      <input type="hidden" name="identificador" value='{{ p.id }}' </input>
                    </form>

                  </ul>
                </li>
              {% endfor %}
        </ul>
    </div>


    {% elif tag == "mod" %}

    <div class="row">
      <form action='../mongo' class="form-signin" method="post">
        <p>Modifique el nombre del Pokemon</p>
        <label class="sr-only">Consulte por nombre del Pokemon</label>
        <input type="text" class="form-control" id="caja" name="nombre" value='{{ valor }}' />
        <input type="hidden" name="idenobj" value='{{ iden }}' />
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    {% endif %}
  </div>
{% endblock %}



{% block primerlink %}
  <a href='{{ paginas[2] }}'>{{ paginas[2] }}</a>
{% endblock %}

{% block segundolink %}
  <a href='{{ paginas[1] }}'>{{ paginas[1] }}</a>
{% endblock %}

{% block tercerlink %}
  <a href='{{ paginas[0] }}'>{{ paginas[0] }}</a>
{% endblock %}
